nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style: dotted;
}

    nav a{
        padding: 5px;
        border-style: dashed;
        color: black ;
    }

    

main{ 
    border-style: dotted;
}



    main h2,h1,h3,p{
    text-align: center;
 }

 .Informazionipersonali{
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    align-items: center;
    ;

 }
  .link{
    color: black ;
}

.icona{
    padding-left: 30px;
    padding-right: 30px;
    width: 50px;
}